@media (min-width: 768px) {
  .navbar-form, .navbar-form .input-group {
      width: 100%;
  }
  .helper {
    font-size: 12px;
    display: inline-block;
    color: white;
  }

  .helper:hover {
    color: white;
  }
}
