<div id="container" class="container">

    <hgroup class="mb20">
        <h1>API List</h1>
    </hgroup>

    <section ng-repeat="api in apiListCtrl.apis" class="col-xs-12 col-sm-6 col-md-12">
        <div class="search-result row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-left">
                <h3><a ui-sref="api-item-view({id:api.id})" title="">{{api.name}}</a></h3>
                <p><a ng-href="{{api.link}}">{{api.link}}</a></p>
                <p>{{api.description}}</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-right">
                <ul class="meta-search">
                    <li><i class="fa fa-calendar-plus-o"></i> <span>Date created: {{api.date_created}}</span></li>
                    <li><i class="fa fa-calendar"></i> <span>Last updated: {{api.last_modified}}</span></li>
                </ul>
            </div>
            <span class="clearfix borda"></span>
        </div>
    </section>
    <paging
      page="apiListCtrl.currentPage"
      page-size="apiListCtrl.apis.length"
      total="apiListCtrl.totalNum"
      scroll-top="true"
      show-prev-next="true"
      paging-action="apiListCtrl.doPaging('Paging Clicked', page)">
    </paging>
    <div class="scrollTopButton" id="scrollTopButton" style="display:none">
        TOP
    </div>
    <div class="scrollBotButton" id="scrollBotButton" style="display:none">
        BOTTOM
    </div>
</div>
<!--Container-->

<script type="text/javascript">
$(function(){
	showScroll();
	function showScroll(){
		$(window).scroll( function() {
			var scrollTopValue=$(window).scrollTop();
			var scrollBotValue=$('#container').height()-scrollTopValue;
			console.log = scrollBotValue;

			scrollTopValue > 10 ? $('#scrollTopButton').fadeIn():$('#scrollTopButton').fadeOut();
			scrollBotValue > 450 ? $('#scrollBotButton').fadeIn():$('#scrollBotButton').fadeOut();
		} );
		$('#scrollTopButton').click(function(){
			$("html,body").animate({scrollTop:0},200);
		});

		$('#scrollBotButton').click(function(){
			$("html,body").animate({scrollTop:$('#container').height()-550},200);
		});
	}
})
</script>
