.footer {
    width: 100%;
    background-color: #eb6864;
    padding: 40px 0 25px;
    margin-top: 20px;
}

.footer .form-group {
    margin-top: 35px;
    margin-bottom: 22px;
}

.footer .form-group .btn {
    display: inline-block;
    font-weight: 400;
    border: none;
    white-space: normal;
    margin: 0 10px 20px 0;
    padding: 13px 25px 12px;
    font-size: 16px;
    line-height: 1;
    text-decoration: none!important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: -1px;
}

.footer .form-group .btn-primary {
    color: #fff;
    background-color: #313447;
    -webkit-transition: background-color 250ms ease;
    -moz-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
}

.footer .form-control {
    display: block;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding: 8px 12px 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #fff;
    border: 1px solid #313447;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.footer .form-control::-moz-placeholder {
    color: #fff;
    opacity: .85;
    filter: alpha(opacity=85);
}
.footer .form-control:-ms-input-placeholder {
    color: #fff;
    opacity: .85;
    filter: alpha(opacity=85);
}
.footer .form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: .85;
    filter: alpha(opacity=85);
}
.footer .placeholder {
    color: #fff;
    opacity: .85;
    filter: alpha(opacity=85);
}

.footer p.copyright {
    margin: 40px 0 0;
    text-align: center;
    color: #fff;
}

.footer p.copyright a {
    color: #fff;
    text-decoration: underline;
}

.footer .text-light {
    color: #fff;
}

@media screen and (max-width: 991px) {
.footer {
    margin-top: 0;
}
}