<footer class="footer-site">
    <div class="row">
        <!-- MAIN FOOTER STUFF -->
        <div class="col-lg-4">
            <!-- <img src="" class="secondary-logo" /> -->
            <p class="lead">API REVIEW</p>
            <!-- <p>
                Our mission is blah blah blah.
            </p> -->
            <!-- facebook -->
            <!--<a class="facebook social button" href="" target="_blank" rel="nofollow">
                <span class="icon">
                    <i class="fa fa-facebook-official"></i>
                </span>
                Facebook
            </a>
            <!-- twitter -->
            <!--<a class="twitter social button" href="" target="_blank" rel="nofollow">
                <span class="icon">
                    <i class="fa fa-twitter"></i>
                </span>
                Twitter
            </a>
            <!-- google+ -->
            <!--<a class="google social button" href="" target="_blank" rel="nofollow">
                <span class="icon">
                    <i class="fa fa-google-plus-square"></i>
                </span>
                Google+
            </a>
            <!-- swagger -->
            <a class="swagger social button" href="http://apioverload.herokuapp.com/" target="_blank" rel="nofollow">
                <span class="icon">
                    <img src="assets/img/swagger-40x40.png" />
                </span>
                Check out our API
            </a>
            <!-- newsletter -->
            <!-- <p>Subscribe to our newsletter for weekly updates.</p>
            <div class="row collapse signup-form">

                <div ng-show="emailSubmitted" class="newsletter-signup-success-message" ng-cloak>
                    Thank you for subscribing.
                </div>
                <div ng-show="newsletterSignupError" class="alert radius alert-box" ng-cloak>
                    There was an error. Please try again.
                </div>
                <form method="POST" ng-hide="emailSubmitted" name="newsletterSignupForm" novalidate>
                    <div class="col-sm-8">
                        <label>
                            <input type="text" placeholder="Email" name="newsletterEmail" required  ng-model="newsletterEmail" />
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <button class="orange button postfix" ng-click="submitNewsletterSignUp(newsletterEmail)" ng-disabled="newsletterSignupForm.$invalid">Submit</button>
                    </div>
                </form>
            </div> -->
        </div>
        <!-- SITE MAP -->
        <div class="col-sm-7 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-4">
                    <h4>APIs</h4>
                    <ul class="side-nav">
                        <li><a ui-sref="api-list">Explore APIs</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4>Reviews</h4>
                    <ul class="side-nav">
                        <li><a ui-sref="review-list">Explore reviews</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4>Reviewers</h4>
                    <ul class="side-nav">
                        <li><a ui-sref="user-list({type:'role',search:footerCtrl.USER_ROLES.REVIEWER})">Explore reviewers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
