<div id="container" class="container">

    <hgroup class="mb20">
        <h1>Review List</h1>
        <h2 ng-if="reviewListCtrl.reviews.length <= 0" class="lead"><strong class="text-danger">0</strong> results were found</h2>
    </hgroup>

    <div class="row" ng-if="reviewListCtrl.reviews.length > 0">
        <div class="col-xs-12 col-sm-12 col-md-10">
            <paging
                class="small"
                page="reviewListCtrl.currentPage"
                page-size="reviewListCtrl.pageSize"
                total="reviewListCtrl.totalNum"
                scroll-top="true"
                hide-if-empty="true"
                show-prev-next="true"
                paging-action="reviewListCtrl.doPaging('Paging Clicked', page)">
            </paging>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
            <span>Number of results</span>
            <select ng-options="pageSize for pageSize in reviewListCtrl.availablePageSizes" ng-model="reviewListCtrl.pageSize" ng-change="reviewListCtrl.onPageSizeChange()" class="form-control">
            </select>
        </div>
    </div>
    <section ng-if="reviewListCtrl.reviews.length > 0" ng-repeat="review in reviewListCtrl.reviews" class="col-xs-12 col-sm-6 col-md-12">
        <div class="search-result row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-left">
                <h3><a ui-sref="review-item-view({id:review.id})" title="">{{review.title}}</a></h3>
                <p>By {{review.author.given_name}} {{review.author.surname}}</p>
                <p>{{review.content | limitTo:500}}</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-right">
                <ul class="meta-search">
                    <li><i class="fa fa-calendar-plus-o"></i> <span>Date created: {{review.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</span></li>
                    <li><i class="fa fa-calendar"></i> <span>Last updated: {{review.updated_at | date:'dd/MM/yyyy HH:mm:ss'}}</span></li>
                </ul>
            </div>
            <span class="clearfix borda"></span>
        </div>
    </section>
    <div>
        <paging
            class="small"
            page="reviewListCtrl.currentPage"
            page-size="reviewListCtrl.pageSize"
            total="reviewListCtrl.totalNum"
            scroll-top="true"
            hide-if-empty="true"
            show-prev-next="true"
            paging-action="reviewListCtrl.doPaging('Paging Clicked', page)">
        </paging>
    </div>
    <div class="scrollTopButton" id="scrollTopButton" style="display:none">
        TOP
    </div>
    <div class="scrollBotButton" id="scrollBotButton" style="display:none">
        BOTTOM
    </div>
</div>
<!--Container-->

<script type="text/javascript">
$(function(){
    showScroll();
    function showScroll(){
        $(window).scroll( function() {
            var scrollTopValue=$(window).scrollTop();
            var scrollBotValue=$('#container').height()-scrollTopValue;
            console.log = scrollBotValue;

            scrollTopValue > 10 ? $('#scrollTopButton').fadeIn():$('#scrollTopButton').fadeOut();
            scrollBotValue > 450 ? $('#scrollBotButton').fadeIn():$('#scrollBotButton').fadeOut();
        } );
        $('#scrollTopButton').click(function(){
            $("html,body").animate({scrollTop:0},200);
        });

        $('#scrollBotButton').click(function(){
            $("html,body").animate({scrollTop:$('#container').height()-550},200);
        });
    }
})
</script>
