.review-actions {
    float: right;
}

.review-actions .btn-default {
    color: #eb6864;
    background-color: #fff;
    border-color: #eb6864;
}
.review-actions .btn-default:focus,
.review-actions .btn-default.focus {
  color: #ffffff;
  background-color: #eb6864;
}
.review-actions .btn-default:hover {
  color: #ffffff;
  background-color: #eb6864;
}
.review-actions .btn-default:active,
.review-actions .btn-default.active {
  color: #ffffff;
  background-color: #eb6864;
}