<!-- Page Content -->
<div class="container">

    <div class="col-md-6 col-md-offset-3">
        <h2>Login</h2>
        <div ng-show="loginCtrl.error" class="alert alert-danger">{{loginCtrl.error}}</div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="form" ng-submit="loginCtrl.login()" role="form" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
                        <label for="email">Email</label>
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            <input type="email" name="email" id="email" class="form-control" ng-model="loginCtrl.credentials.email"  placeholder="Email address" required />
                        </div>
                        <span ng-show="form.email.$touched && form.email.$error.required" class="help-block">Email is required</span>
                        <span ng-show="form.email.$touched && form.email.$error.email" class="help-block">Invalid email address</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$touched && form.password.$invalid }">
                        <label for="password">Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input type="password" name="password" id="password" class="form-control" ng-model="loginCtrl.credentials.password"  placeholder="Password" required />
                        </div>
                        <span ng-show="form.password.$touched && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                    <div>Any email and password will work. You will be logged in as a test user</div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || loginCtrl.dataLoading" class="btn btn-primary">Login</button>
                        <img ng-if="loginCtrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <a ui-sref="register" class="btn btn-link">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
