body {
    margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-size: 180%;
}

div[ui-view="main"] {
    min-height: 600px;
}

/***** Forms *****/
.form-group.required label:after {
    content: " *";
    color: red;
}

/***** Buttons *****/
.action-btns {
    float: right;
}

.action-btns .btn-default {
    color: #eb6864;
    background-color: #fff;
    border-color: #eb6864;
}
.action-btns .btn-default:focus,
.action-btns .btn-default.focus {
    color: #ffffff;
    background-color: #eb6864;
}
.action-btns .btn-default:hover {
    color: #ffffff;
    background-color: #eb6864;
}
.action-btns .btn-default:active,
.action-btns .btn-default.active {
    color: #ffffff;
    background-color: #eb6864;
}