<!-- Page Content -->
<div class="container">
        <div class="row page-header">
          <h2>API Review</h2>
          <span>Subtext for header</span>
        </div>
        <div class="row features">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-img">
                <a ui-sref="api"><img src="../../../assets/img/home/api.png" width="124" height="120" alt="APIs"/></a>
            </div>
            <h3>APIs</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-img">
                <a ui-sref="reviews"><img src="../../../assets/img/home/review.png" width="131" height="131" alt="Reviews"/></a>
            </div>
            <h3>Reviews</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-img">
                <a ui-sref="reviewers"><img src="../../../assets/img/home/reviewer.png" width="72" height="72" alt="Reviewers"/></a>
            </div>
            <h3>Reviewers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
          </div>
        </div>
</div>
<!-- /.container -->
