<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-8">
            <h1><a href ng-click="userProfileCtrl.reload()">{{userProfileCtrl.user.given_name}}'s Profile</a></h1>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <td><i class="fa fa-envelope-o"></i> E-mail</td>
                </div>
                <div class="col-lg-8">
                    <td>{{userProfileCtrl.user.email}}</td>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <td><i class="fa fa-caret-right"></i> First Name</td>
                </div>
                <div class="col-lg-8">
                    <td>{{userProfileCtrl.user.given_name}}</td>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <td><i class="fa fa-caret-right"></i> Last Name</td>
                </div>
                <div class="col-lg-8">
                    <td>{{userProfileCtrl.user.surname}}</td>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <td><i class="fa fa-user"></i> User Role</td>
                </div>
                <div class="col-lg-8">
                    <td>{{userProfileCtrl.user.role}}</td>
                </div>
            </div>
        </div>

        <div id="user-sidebar" class="col-lg-4">
            <div class="well">
                <h4><i class="fa fa-search"></i> User Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <ar-related-reviews reviewer="{{userProfileCtrl.user.id}}"></ar-related-reviews>
        </div>
    </div>
</div>