<div class="modal-header">
    <h4 class="modal-title"><span class="fa fa-key fa-fw"></span> Change Password</h4>
</div>
<div class="modal-body">
    <ng-form name="form" novalidate role="form">
        <div class="form-group required" ng-class="{ 'has-error': form.currentPassword.$touched && form.currentPassword.$invalid }">
            <label for="currentPassword">Current Password</label>
            <input type="password" name="currentPassword" id="currentPassword" class="form-control" ng-model="passwords.currentPassword" required />
            <span ng-show="form.currentPassword.$touched && form.currentPassword.$error.required" class="help-block">Current password is required</span>
        </div>
        <div class="form-group required" ng-class="{ 'has-error': form.newPassword.$touched && form.newPassword.$invalid }">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" ng-model="passwords.newPassword" required />
            <span ng-show="form.newPassword.$touched && form.newPassword.$error.required" class="help-block">New password is required</span>
        </div>
        <div class="form-group required" ng-class="{ 'has-error': form.confirmPassword.$touched && form.confirmPassword.$invalid }">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" ng-model="passwords.confirmPassword" match-password="newPassword" required />
            <span ng-show="form.confirmPassword.$touched && form.confirmPassword.$error.required" class="help-block">Confirm password is required</span>
            <span ng-show="!form.confirmPassword.$error.required && form.confirmPassword.$touched && form.confirmPassword.$error.passwordMatch" class="help-block">Passwords must match</span>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(form.$dirty && form.$invalid) || form.$pristine">Save</button>
</div>