<!-- Page Content -->
<div class="container">

    <h3>Home</h3>
    <ul>
        <li><a ui-sref="home">Home</a></li>
    </ul>
    <h3>API</h3>
    <ul>
        <li><a ui-sref="api-item-view({id: 1})">Single API</a></li>
        <li><a ui-sref="api-list">API List</a></li>
        <li><a ui-sref="api-item-new">New API</a></li>
        <li><a ui-sref="api-item-edit({id: 1})">Edit API</a></li>
    </ul>
    <h3>Review</h3>
    <ul>
        <li><a ui-sref="review-item-view({id: 1})">Single Review</a></li>
        <li><a ui-sref="review-item-list">Review List</a></li>
        <li><a ui-sref="review-item-new">New Review</a></li>
        <li><a ui-sref="review-item-edit({id: 1})">Edit Review</a></li>
    </ul>
    <h3>User</h3>
    <ul>
        <li><a ui-sref="user-profile-view({id: 1})">Single User</a></li>
        <li><a ui-sref="user-profile-list">User List</a></li>
    </ul>
    <h3>Me</h3>
    <ul>
        <li><a ui-sref="user-profile-edit">My Profile</a></li>
    </ul>
    <h3>Admin</h3>
    <ul>
        <li>Admin Console</li>
    </ul>
</div>